$color: $black;

.about-section {
  padding-top: 8rem;
  background: linear-gradient(
                  to bottom,
                  $color 0%,
                  #{fade-out($color, .1)} 75%,
                  #{fade-out($color, .2)} 100%);
  .text-white-50 {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  p {
    margin-bottom: 5rem;
  }
}
