.arrow {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem;
  overflow: auto;

  a i {
    color: $primary;
    font-size: 4rem;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.know-more {
  color: white;
  padding: 15px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: $primary;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.know-more:visited {
  color: white;
}

.know-more:hover {
  color: white;
  opacity: 0.9;
}

.know-more:active {
  color: white;
}