.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
                  to bottom,
                  #{fade-out($black, 1)} 0%,
                  #{fade-out($black, 1)} 75%,
                  $black 100%
  ),
  url('../images/banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  //animation: animate_bg 10s linear infinite;
  //@keyframes animate_bg {
  //  0% {
  //    background-position: 0 0;
  //  }
  //  100% {
  //    background-position: 100% 0;
  //  }
  //}

  .banner-text {
    width: auto;
    vertical-align: center;
  }

  .welcome-text {
    letter-spacing: 0.20em;
    font-weight: 500;
    line-height: 1.2
  }

  @media screen {
    min-height: 100vh;
  }

  //@media (min-width: 768px) {
  //  h1 {
  //    font-size: 3rem;
  //    line-height: 4rem;
  //  }
  //}
  //@media (min-width: 992px) {
  //  height: 100vh;
  //  padding: 0;
  //  h1 {
  //    font-size: 4.5rem;
  //    line-height: 5rem;
  //    letter-spacing: 0.8rem;
  //  }
  //  h2 {
  //    max-width: 30rem;
  //    font-size: 1.25rem;
  //  }
  //}
}
