.more {
        bottom: 0;
        z-index: 100;
        text-align: center;
        clear: both;
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        margin:2rem;
        overflow:auto;
}