.portfolio-section {
  padding: 8rem 0;

  .hr {
    border-color: $primary;
    border-width: 0.25rem;
    width: 3rem;
  }

  .portfolio-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .box {
      position: relative;
      min-width: 30%;
      height: 400px;
      box-sizing: border-box;
      overflow: hidden;
      margin: 10px;
    }

    .box .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      clip-path: circle(400px at center 100px);
      transition: 0.5s;
      transition-delay: 0.5s;
    }

    .box:hover .imgBx {
      clip-path: circle(80px at center 100px);
      transition-delay: 0s;
    }

    .box:hover .imgBx img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .box .content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 55%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }

    .box .content h2 {
      margin: 0;
      padding: 0;
    }

    .box .content a {
      text-decoration: none;
      background: #000;
      color: #fff;
      padding: 5px;
      display: inline-block;
    }

    .box .content h2,
    .box .content p,
    .box .content a {
      opacity: 0;
      transition: 0.5s;
      transform: translateY(20px);
    }

    .box:hover .content h2 {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.5s;
    }

    .box:hover .content p {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.7s;
    }

    .box:hover .content a {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.9s;
    }

    @media (max-width: 568px) {
      .box {
        width: 90%;
        max-height: 400px;
      }
    }
  }
}