.portfolio-section {
  padding: 8rem 0;

  .hr {
    border-color: $primary;
    border-width: 0.25rem;
    width: 3rem;
  }

  .btn:after {
    content: "\e114";
    float: right;
    margin-left: 15px;
  }

  .btn.collapsed:after {
    content: "\e080";
  }

  .portfolio-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .box {
      position: relative;
      justify-content: space-around;
      width: 95%;
      height: 440px;
      box-sizing: border-box;
      overflow: hidden;
      margin: 10px;
      border-radius: 5px;
      background-color: #f2f2f2;

      .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        clip-path: circle(400px at center 100px);
        transition: 0.5s;
        //transition-delay: 0.5s;

        .img-fluid {
          height: fit-content;
        }

        .text-on-image {
          position: absolute;
          bottom: 10px;
          color: white;
          text-align: center;
          visibility: visible;
        }
      }

      .content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 55%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        opacity: 0;
        transition: 0.5s;
        transform: translateY(20px);

        h3 {
          margin: 0;
          padding: 0;
          font-size: 1.5rem;
          font-weight: bold;
        }

        p {
          color: $primary;
        }
      }
    }


    .box:hover {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.9s;

      .imgBx {
        clip-path: circle(80px at center 100px);
        transition-delay: 0s;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .text-on-image {
          visibility: hidden;
        }
      }

      .content {
        opacity: 1;

        h3 {
          transform: translateY(0px);
          transition-delay: 0.5s;
        }

        p {
          transform: translateY(0px);
          transition-delay: 0.7s;
        }
      }
    }


    ////for mobile browsers smaller than 480px; iPHONE
    //@media only screen and (max-width: 480px) {
    //  .box {
    //    max-width: 100%;
    //    max-height: 400px;
    //  }
    //
    //}
    //
    ////for browsers larger than 768px; iPAD
    //@media only screen and (min-width: 480px) and (max-width: 960px) {
    //  .box {
    //    width: 90%;
    //    max-height: 400px;
    //  }
    //}
    //
    ////for browsers larger than 960px; DESKTOP, LAPTOP
    //@media only screen and (min-width: 960px) {
    //  .box {
    //    width: 30%;
    //    max-height: 400px;
    //  }
    //}
  }
}