@import './bootstrap/bootstrap.min.css';
@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'products.scss';
@import 'services.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'arrow.scss';
@import 'logo.scss';
@import '404.scss';
@import 'support.scss';
@import 'portfolio.scss';
@import './fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.0625em;
}

a {
  color: $primary;

  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
